* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    line-height: 1.4;
    background-color: rgb(177, 180, 185);
}

header {
    background-color: #364b61;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 28px;
    font-weight: bold;
    
}

#search-form {
    display: flex;
}

#city-input {
    border: none;
    padding: 10px;
    font-size: 16px;
    width: 200px; 
    font-family: 'Fjalla One', sans-serif;
  
}

#search-btn {
    background-color: #ae91e4;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
}

#search-btn:hover {
    background-color: #7440f0;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    font-family: 'Fjalla One', sans-serif;
}

#current-weather {
    flex-basis: 100%;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
}

#current-weather img {
    display: block;
    margin: 0 auto;
}

#forecast {
    display: flex;
    flex-wrap: wrap;
}


footer {
    background-color: #34495e;
    color: #fff;
    padding: 20px;
    text-align: center;
}
